{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BullBurger - Menú</title>
  <link rel="stylesheet" href="{% static 'css/cliente_style.css' %}">
</head>

<body>
  <header class="header">
    <div class="header-top">
      <img src="{% static 'usuarios/img/logoBullBurger.png' %}" alt="BullBurger Logo" class="logo-img">
      <nav class="nav">
        <a href="{% url 'inicio_cliente' %}">Inicio</a>
        <a href="#" class="activo">Menú</a>
        <a href="{% url 'ubicacion_cliente' %}">Nuestra Ubicación</a>
        <a href="{% url 'pedidos_cliente' %}">Mis Pedidos</a>
      </nav>
      <a href="{% url 'carrito_cliente' %}" class="btn_carrito">
      🛒&nbsp; <span class="carrito-amount">${{ total_carrito|default:"0.00" }}</span>
    </a>
    </div>
    <div class="separator"></div>
    <div class="separator dos"></div>
  </header>

  <section class="menu">
    <div class="categorias">
      <button class="categoria activo">Todos</button>
      <button class="categoria">Hamburguesas</button>
      <button class="categoria">Bebidas</button>
      <button class="categoria">Snack</button>
      <button class="categoria">Combos</button>
      <button class="categoria">Postres</button>
    </div>

    <div class="productos-grid">
      <div class="producto">
        <img src="{% static 'usuarios/img/Clasic-Bull.jpg' %}" alt="Clasic Bull">
        <h3>CLASIC-BULL</h3>
      </div>
      <div class="producto">
        <img src="{% static 'usuarios/img/Batidos.jpg' %}" alt="Batidos">
        <h3>BATIDOS</h3>
      </div>
      <div class="producto">
        <img src="{% static 'usuarios/img/Papas.jpg' %}" alt="Papas">
        <h3>PAPAS</h3>
      </div>
      <div class="producto">
        <img src="{% static 'usuarios/img/Combo-1.png' %}" alt="Combo 1">
        <h3>COMBO-1</h3>
      </div>
      <div class="producto">
        <img src="{% static 'usuarios/img/Postre.jpg' %}" alt="Postre">
        <h3>POSTRE</h3>
      </div>
      <div class="producto">
        <img src="{% static 'usuarios/img/Mini-Michis.jpg' %}" alt="MiniMichis">
        <h3>MINI-MICHIS</h3>
      </div>
    </div>
  </section>
</body>
</html>
